@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Outfit:wght@100;300;500;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin-top: 0;
}

.padding--sm {
  padding: 12px;
}

.padding--normal {
  padding: 16px;
}

.padding--md {
  padding: 24px;
}

.padding--lg {
  padding: 36px;
}

.padding--xl {
  padding: 48px;
}

.padding--xxl {
  padding: 160px;
}

.padding-top-sm {
  padding-top: 12px;
}

.padding-top-normal {
  padding-top: 16px;
}

.padding-top-md {
  padding-top: 24px;
}

.padding-top-lg {
  padding-top: 36px;
}

.padding-top-xl {
  padding-top: 48px;
}

.padding-top-xxl {
  padding-top: 160px;
}

.padding-bottom-sm {
  padding-bottom: 12px;
}

.padding-bottom-normal {
  padding-bottom: 16px;
}

.padding-bottom-md {
  padding-bottom: 24px;
}

.padding-bottom-lg {
  padding-bottom: 36px;
}

.padding-bottom-xl {
  padding-bottom: 48px;
}

.padding-bottom-xxl {
  padding-bottom: 160px;
}

.padding-left-sm {
  padding-left: 12px;
}

.padding-left-normal {
  padding-left: 16px;
}

.padding-left-md {
  padding-left: 24px;
}

.padding-left-lg {
  padding-left: 36px;
}

.padding-left-xl {
  padding-left: 48px;
}

.padding-left-xxl {
  padding-left: 160px;
}

.padding-right-sm {
  padding-right: 12px;
}

.padding-right-normal {
  padding-right: 16px;
}

.padding-right-md {
  padding-right: 24px;
}

.padding-right-lg {
  padding-right: 36px;
}

.padding-right-xl {
  padding-right: 48px;
}

.padding-right-xxl {
  padding-right: 160px;
}

.padding-block-sm {
  padding-block: 12px;
}

.padding-block-normal {
  padding-block: 16px;
}

.padding-block-md {
  padding-block: 24px;
}

.padding-block-lg {
  padding-block: 36px;
}

.padding-block-xl {
  padding-block: 48px;
}

.padding-block-xxl {
  padding-block: 160px;
}

.btn-primary {
  background-color: #0e6cff;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 20px;
  margin: 2% 1%;
  display: inline;
}

.btn-secondary {
  background-color: #ff8700;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 20px;
  margin: 2% 1%;
  display: inline;
}

.btn-tertiary {
  background-color: #4caf50;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 20px;
  margin: 2% 1%;
  display: inline;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3px;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  background-color: #640fc5;
}

p, a {
  color: #f4f4f4;
}

h1 {
  font-size: 96px;
  font-weight: 900;
  line-height: 0.95;
  color: #f4f4f4;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

img {
  border-radius: 20px;
  box-shadow: 2px 4px 7px #340868;
}

.showcase-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.showcase-content img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */