$buttonsColor: (
    primary: #0e6cff,
    secondary: #ff8700,
    tertiary: #4caf50,
);

@each $key, $value in $buttonsColor {
    .btn-#{$key} {
        background-color: $value;
        color: $textColor;
        font-family: $poppins;
        border: 0;
        border-radius: 20px;
        margin: 2% 1%;
        display: inline;
    }
}

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    margin: 3px;
    transition: transform 0.3s ease-in-out;

    &:hover{
        transform: scale(1.05);
    }
}
