@import 'reset';
@import 'spaziature';
@import 'mixins';
@import 'font';
@import 'colori';
@import 'bottoni';
@import 'animazioni';

html{
    @include myHtml;
    font-family: $poppins;
}

body{
    @include body;
}

header{
    background-color: $bgColor;
}

p, a{
    color: $textColor;
}

h1{
    @include titleBig;
}

h2{
    font-size: $font-size-xlarge;
}

h3{
    font-size: $font-size-large;
}

p{
    font-size: $font-size-medium;
}

img{
    @include floating;
}

.showcase-content{
    width:90%;
    @include grid;
}

.showcase-content img{
    width: 50%;
}